<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace会绑定一个对应的Mapper接口-->
<mapper namespace="ssm.mapper.StudentMapper">

    <select id="findAll" resultType="Student" >
        select * from student;
    </select>

    <insert id="addStu" parameterType="Student">
        insert into school.student(id, name, age, tid)
        values (#{id},#{name},#{age},#{tid})
    </insert>

    <delete id="del" parameterType="int">
        delete from student
        where id = #{id};
    </delete>
</mapper>