<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--Spring注解开发，指定要扫描的包，这个包下的注解就会生效-->
    <context:component-scan base-package="ssm.spring"/>

    <!--开启注解支持，使得自动装配的注解生效-->
    <context:annotation-config/>

    <!--配置AOP-->
    <!--方法一：使用SpringAPI-->
<!--    <aop:config>-->
<!--        <aop:pointcut id="puintcut" expression="execution(* ssm.spring.service.StudentServiceImpl.* (..))"/>-->
<!--        <aop:advisor advice-ref="beforeLog" pointcut-ref="puintcut"/>-->
<!--        <aop:advisor advice-ref="afterLog" pointcut-ref="puintcut"/>-->
<!--    </aop:config>-->

    <!--方法二：自定义切面-->
<!--    <aop:config>-->
<!--        <aop:aspect ref="diyPointCut">-->
<!--            <aop:pointcut id="point" expression="execution(* ssm.spring.service.StudentServiceImpl.*(..))"/>-->
<!--            <aop:before method="before" pointcut-ref="point"/>-->
<!--            <aop:after method="after" pointcut-ref="point"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

    <!--方式三：注解-->
    <!--开启注解支持-->
    <aop:aspectj-autoproxy/>
</beans>