<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.mybatis.dao.TeacherMapper">

    <select id="findAllInfoById" resultMap="teacherMap">
        select t.id tid,t.name tname,s.sid sid,s.name sname,s.age age
        from student s,teacher t
        where s.tid = t.id and t.id = #{id}
    </select>

    <resultMap id="teacherMap" type="Teacher">
        <result property="id" column="tid"/>
        <result property="name" column="tname"/>
        <!--一个老师管理多个学生，所以结果是一个集合形式
            针对集合形式，使用collection标签
            javaType：实体类中指定的属性的类型，这里就是List<Student>的类型
            ofType：一般指获取集合中的泛型类型，这里就是Student-->
        <collection property="students" ofType="Student">
            <result property="id" column="sid"/>
            <result property="name" column="sname"/>
            <result property="age" column="age"/>
        </collection>
    </resultMap>

</mapper>