<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace会绑定一个对应的Mapper接口-->
<mapper namespace="ssm.mybatis.dao.StudentMapper">

    <select id="getAll" resultType="ssm.mybatis.pojo.Student">
       select * from student;
   </select>

    <select id="selectById" parameterType="int" resultType="ssm.mybatis.pojo.Student">
        select * from student where sid = #{sid}
    </select>

    <insert id="addStudent" parameterType="ssm.mybatis.pojo.Student">
        insert into student(sid, name, age) values (#{sid},#{name},#{age})
    </insert>

    <update id="updateStudent" parameterType="ssm.mybatis.pojo.Student">
        update student set name = #{name},age = #{age} where sid = #{sid}
    </update>

    <delete id="deleteStudentById" parameterType="int">
        delete from student where sid = #{sid}
    </delete>
</mapper>